<?xml version="1.0" encoding="UTF-8"?>
<image_properties>
  <vnf_type>FIREWALL</vnf_type>
  <name>{{ package_name }}</name>
  <version>{{ package_version }}</version>
  <bootup_time>600</bootup_time>
  <root_file_disk_bus>virtio</root_file_disk_bus>
  <root_image_disk_format>qcow2</root_image_disk_format>
  <vcpu_min>1</vcpu_min>
  <vcpu_max>8</vcpu_max>
  <memory_mb_min>1024</memory_mb_min>
  <memory_mb_max>16384</memory_mb_max>
  <vnic_max>8</vnic_max>
  <vnic_names>vnics:1:GigabitEthernet0/0</vnic_names>
  <vnic_names>vnics:2:GigabitEthernet0/1</vnic_names>
  <root_disk_gb_min>8</root_disk_gb_min>
  <root_disk_gb_max>16</root_disk_gb_max>
  <console_type_serial>true</console_type_serial>
  <monitoring_supported>true</monitoring_supported>
  <monitoring_methods>ICMPPing</monitoring_methods>
  <low_latency>true</low_latency>
  <privileged_vm>false</privileged_vm>
  <cdrom>false</cdrom>
  <bootstrap_file_1>day0-config</bootstrap_file_1>
  <profiles>
    <profile>
      <name>asav5</name>
      <description>asav5 profile</description>
      <vcpus>1</vcpus>
      <memory_mb>1536</memory_mb>
      <root_disk_mb>8192</root_disk_mb>
    </profile>
    <profile>
      <name>asav10</name>
      <description>asav10 profile</description>
      <vcpus>1</vcpus>
      <memory_mb>2048</memory_mb>
      <root_disk_mb>8192</root_disk_mb>
    </profile>
    <profile>
      <name>asav20</name>
      <description>asav20 profile</description>
      <vcpus>2</vcpus>
      <memory_mb>4096</memory_mb>
      <root_disk_mb>8192</root_disk_mb>
    </profile>
    <profile>
      <name>asav30</name>
      <description>asav30 profile</description>
      <vcpus>4</vcpus>
      <memory_mb>8192</memory_mb>
      <root_disk_mb>16384</root_disk_mb>
    </profile>
    <profile>
      <name>asav50</name>
      <description>asav30 profile</description>
      <vcpus>8</vcpus>
      <memory_mb>16384</memory_mb>
      <root_disk_mb>16384</root_disk_mb>
    </profile>
  </profiles>
  <default_profile>asav5</default_profile>
</image_properties>
		

