<?xml version="1.0" encoding="UTF-8"?>
<Environment xmlns:oe="http://schemas.dmtf.org/ovf/environment/1">
  <PropertySection>
    <Property oe:key="com.cisco.csr1000v.config-version.1" oe:value="1.0"/>
    <Property oe:key="com.cisco.csr1000v.enable-ssh-server.1" oe:value="True"/>
    <Property oe:key="com.cisco.csr1000v.login-username.1" oe:value="{{ ansible_user }}"/>
    <Property oe:key="com.cisco.csr1000v.login-password.1" oe:value="{{ ansible_password }}"/>
    <Property oe:key="com.cisco.csr1000v.mgmt-interface.1" oe:value="GigabitEthernet1"/>
    <Property oe:key="com.cisco.csr1000v.mgmt-ipv4-addr.1" oe:value="${NICID_0_IP_ADDRESS}/24"/>
    <Property oe:key="com.cisco.csr1000v.mgmt-ipv4-network.1" oe:value=""/>
    <Property oe:key="com.cisco.csr1000v.license.1" oe:value="${TECH_PACKAGE}"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0001" oe:value="vrf definition Mgmt-intf"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0002" oe:value="address-family ipv4"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0003" oe:value="exit-address-family"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0004" oe:value="address-family ipv6"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0005" oe:value="exit-address-family"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0006" oe:value="exit"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0007" oe:value="interface GigabitEthernet1"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0008" oe:value="vrf forwarding Mgmt-intf"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0009" oe:value="ip address ${NICID_0_IP_ADDRESS} ${NICID_0_NETMASK}"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0010" oe:value="no shut"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0011" oe:value="exit"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0012" oe:value="ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 ${NICID_0_GATEWAY}"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0013" oe:value="interface GigabitEthernet2"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0014" oe:value="ip address {{ interfaces['GigabitEthernet1'].ip.address.primary.address }} {{ interfaces['GigabitEthernet1'].ip.address.primary.mask }}"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0015" oe:value="no shut"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0016" oe:value="exit"/>
    <Property oe:key="com.cisco.csr1000v.ios-config-0017" oe:value="ip route 0.0.0.0 0.0.0.0 {{ static_routes.global[0].fwd_list[0].fwd }}"/>
  </PropertySection>
</Environment> 
