<PackageContents>
  <File_Info> 
    <name>{{ package_image }}</name>
    <type>root_image</type>
    <sha1_checksum>{{ image_checksum }}</sha1_checksum>
  </File_Info> 
  <File_Info> 
    <name>image_properties.xml</name>
    <type>image_properties</type>
    <sha1_checksum>{{ image_properties_checksum }}</sha1_checksum>
  </File_Info>
</PackageContents>
