version: 1
config:
{% for key, value in interfaces.items() %}
   - type: physical
     name: {{ key }}
     subnets:
        - type: static
          address: {{ value.ip.address.primary.address }}
          netmask: {{ value.ip.address.primary.mask }}
          gateway: {{ value.ip.gateway }}
{% endfor %}{# interfaces.items() #}
