<image_properties>
    <vnf_type>ROUTER</vnf_type>
    <name>{{ package_name }}</name>
    <version>{{ package_version }}</version>
    <bootup_time>-1</bootup_time>
    <root_file_disk_bus>virtio</root_file_disk_bus>
    <root_image_disk_format>qcow2</root_image_disk_format>
    <vcpu_min>1</vcpu_min>
    <vcpu_max>8</vcpu_max>
    <memory_mb_min>1024</memory_mb_min>
    <memory_mb_max>8192</memory_mb_max>
    <vnic_max>8</vnic_max>
    <nocloud>true</nocloud>
    <vnic_names>vnics:1:ge0/0</vnic_names>
    <vnic_names>vnics:2:ge0/1</vnic_names>
    <vnic_names>vnics:3:ge0/2</vnic_names>
    <vnic_names>vnics:4:ge0/3</vnic_names>
    <vnic_names>vnics:5:ge0/4</vnic_names>
    <vnic_names>vnics:6:ge0/5</vnic_names>
    <vnic_names>vnics:7:ge0/6</vnic_names>
    <root_disk_gb_min>8</root_disk_gb_min>
    <root_disk_gb_max>20</root_disk_gb_max>
    <console_type_serial>true</console_type_serial>
    <sriov_supported>true</sriov_supported>
    <sriov_driver_list>igb</sriov_driver_list>
    <sriov_driver_list>igbvf</sriov_driver_list>
    <sriov_driver_list>i40evf</sriov_driver_list>
    <sriov_supported>true</sriov_supported>
    <pcie_driver_list>igb</pcie_driver_list>
    <pcie_driver_list>igbvf</pcie_driver_list>
    <pcie_driver_list>i40evf</pcie_driver_list>
    <pcie_supported>true</pcie_supported>
    <monitoring_supported>false</monitoring_supported>
    <monitoring_methods>ICMPPing</monitoring_methods>
    <low_latency>false</low_latency>
    <privileged_vm>true</privileged_vm>
    <default_profile>vedge-small</default_profile>
    <profiles>
        <profile>
            <name>vedge-small</name>
            <description>vedge-small</description>
            <vcpus>1</vcpus>
            <memory_mb>2048</memory_mb>
            <root_disk_mb>10240</root_disk_mb>
        </profile>
        <profile>
            <name>vedge-medium</name>
            <description>vedge-medium</description>
            <vcpus>2</vcpus>
            <memory_mb>4096</memory_mb>
            <root_disk_mb>10240</root_disk_mb>
        </profile>
        <profile>
            <name>vedge-large</name>
            <description>vedge-large</description>
            <vcpus>4</vcpus>
            <memory_mb>8192</memory_mb>
            <root_disk_mb>10240</root_disk_mb>
        </profile>
    </profiles>
    <cdrom>true</cdrom>
    <interface_hot_add>true</interface_hot_add>
    <interface_hot_delete>false</interface_hot_delete>
    <tablet_supported>false</tablet_supported>
</image_properties>
