Content-Type: multipart/mixed; boundary="===============6560338015520979320=="
MIME-Version: 1.0

--===============6560338015520979320==
Content-Type: text/cloud-config; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="vedge.cloud-config"

#cloud-config
vinitparam:
{%  if viptela.otp is defined %}
 - otp : {{ viptela.otp }}
{% endif %}{# viptela.otp is defined #}
{%  if viptela.vbond is defined %}
 - vbond : {{ viptela.vbond }}
{% endif %}{# viptela.vbond is defined #}
{%  if viptela.uuid is defined %}
 - uuid : {{ viptela.uuid }}
{% endif %}{# viptela.uuid is defined #}
{%  if viptela.org is defined %}
 - org : {{ viptela.org }}
{% endif %}{# viptela.org is defined #}

--===============6560338015520979320==
Content-Type: text/cloud-boothook; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="vedge.init-config"

#cloud-boothook

system
 personality             vedge
 device-model            vedge-cloud
 host-name               {{ inventory_hostname.split('.')[0] }}
{%  if viptela.system_ip is defined %}
 system-ip               {{ viptela.system_ip }}
{% endif %}{# viptela.system_ip is defined #}
{%  if viptela.domain_id is defined %}
 domain-id                 {{ viptela.domain_id }}
{% endif %}{# viptela.domain_id is defined #}
{%  if viptela.site_id is defined %}
 site-id                 {{ viptela.site_id }}
{% endif %}{# viptela.site_id is defined #}
 no route-consistency-check
{%  if viptela.org is defined %}
 organization-name       "{{ viptela.org }}"
{% endif %}{# viptela.org is defined #}
{%  if viptela.vbond is defined %}
 vbond {{ viptela.vbond }} port 12346
{% endif %}{# viptela.vbond is defined #}
!
vpn 0
 name "Transport VPN"
{% if dns_servers[0] is defined %}
 dns {{ dns_servers[0] }} primary
{% endif %}{# dns_servers[0] is defined #}
{% if dns_servers[1] is defined %}
 dns {{ dns_servers[1] }} secondary
{% endif %}{# dns_servers[1] is defined #}
 interface ge0/0
{% if interfaces['ge0/0'].ip.address.primary.address is defined and interfaces['ge0/0'].ip.address.primary.mask is defined %}
  ip address {{ interfaces['ge0/0'].ip.address.primary.address }}/{{ (interfaces['ge0/0'].ip.address.primary.address + '/' + interfaces['ge0/0'].ip.address.primary.mask) | ipaddr('prefix') }}
{% endif %}{# interfaces['ge0/0'].ip.address.primary.address is defined and interfaces['ge0/0'].ip.address.primary.mask is defined #}
  tunnel-interface
   encapsulation ipsec
   no allow-service bgp
   allow-service dhcp
   allow-service dns
   allow-service icmp
   allow-service sshd
   allow-service netconf
   no allow-service ntp
   no allow-service ospf
   no allow-service stun
  !
  no shutdown
  !
  ip route 0.0.0.0/0 {{ static_routes.global[0].fwd_list[0].fwd }}
  !
vpn 1
 interface ge0/1
 no shutdown
!
!
vpn 512
 name "Management VPN"
 interface eth0
  ip address ${NICID_0_IP_ADDRESS}/24
  no shutdown
 !
  ip route 0.0.0.0/0 ${NICID_0_GATEWAY}
 !
!
--===============6560338015520979320==